<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="mg_blog" translate="label" sortOrder="1500">
        <label>Manage Blog</label>
    </tab>
    <section id="manage_blog" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>General</label>
        <tab>mg_blog</tab>
        <resource>MG_Blog::blog_config</resource>
        <group id="pagination" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Pagination</label>
            <field id="default_pagination" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Default Pagination</label>
                <source_model>MG\Blog\Model\Config\Source\PageLimitValue</source_model>
            </field>
        </group>
        <group id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Url Config</label>
            <field id="url_suffix" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Url Key Suffix</label>
            </field>
        </group>
    </section>
</system>
</config>